<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Custom iOS Target Properties</key>
		<dict>
			<key>NSAppTransportSecurity</key>
			<dict>
				<key>NSExceptionDomains</key>
				<dict>
					<key>192.168.1.249</key>
					<dict>
						<key>NSExceptionRequiresForwardSecrecy</key>
						<false />
						<key>NSIncludesSubdomains</key>
						<true />
						<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
						<true />
						<key>NSTemporaryExceptionMinimumTLSVersion</key>
						<string>TLSv1.1</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOriÍentationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
	</dict>
</plist>